
<footer class="footer">
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 pb-4">
        <strong>Everything Open 2025</strong> <br>
        January 20-22 2025 <br>
        Tarntanya (Adelaide), SA, Australia <br>
        Timezone: ACDT - UTC+10.5 <br>
        <a href="mailto:contact@everythingopen.au" alt="Email"><i class="bi-envelope-fill"></i></a>
        <a href="https://fosstodon.org/@EverythingOpen" alt="Mastodon"><i class="bi-mastodon"></i></a>
        <a href="https://bsky.app/profile/everythingopen.au" alt="Bluesky"><i class="bi-bluesky"></i></a>
        <a href="https://x.com/_everythingopen" alt="X/Twitter"><i class="bi-twitter-x"></i></a>
        <a href="https://www.linkedin.com/showcase/everythingopen/" alt="LinkedIn"><i class="bi-linkedin"></i></a>
        <a href="https://www.facebook.com/EverythingOpenConference/" alt="Facebook"><i class="bi-facebook"></i></a>
      </div>
      <div class="col-md-4 pb-4 text-center">
        <p class="text-secondary">Brought to you by</p>
        <a href="https://linux.org.au"><img src="/media/img/sponsors/la_logo.svg" alt="Linux Australia logo" class="footer-image"></a>
      </div>
      <div class="col-md-4 pb-4 text-end">
        <small>
          <a href="#">Back to top</a><br>
          &copy; 2024 <a href="https://everythingopen.au">Everything Open</a> and <a href="https://linux.org.au/">Linux Australia</a><br>
          Linux is a registered trademark of Linus Torvalds <br>
          <a href="/colophon">Colophon</a>
        </small>
      </div>
    </div>
  </div>
</footer>

<script src="/media/js/bootstrap.bundle.min.js"></script>
