{% assign title = "Everything Open 2025 | " | append: page.title %}
{% assign descript = page.abstract or page.description or site.description %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ title }}</title>

<link href="https://fonts.googleapis.com/css?family=Montserrat:300|Source+Sans+Pro:400,700&display=swap&subset=latin-ext" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" href="/media/css/bootstrap.min.css">
<link rel="stylesheet" href="/media/css/bootstrap-icons.min.css">
<link rel="stylesheet" href="/media/css/style.css">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CXM7YF9D09"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-CXM7YF9D09');
</script>

<!-- Favicons -->
<link rel="apple-touch-icon" href="/media/img/favicon/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/media/img/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/media/img/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/media/img/favicon/manifest.json">
<link rel="icon" href="/media/img/favicon/favicon.ico">
<meta name="theme-color" content="#ffffff">

<!-- Cards -->
<meta property="og:title"  content="{{ title }}">
<meta property="og:description" content="{{ descript }}" />
<meta property="og:url" content="{{ page.url | prepend: site.url }}">
<meta name="twitter:site" content="@_everythingopen">
<meta name="twitter:image:alt" content="{{ title }}" />
{%- if page.card %}
<!--- twitter card -->
{% assign card_image = page.card | prepend: "/media/img/card/" | prepend: site.url -%}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:image" content="{{ card_image }}" />
<meta property="og:image" content="{{ card_image }}" />
<meta property="og:image:width" content="1500" />
<meta property="og:image:height" content="750" />
{% else %}
<!--- no page.card found. -->
{% assign image = "/media/img/card/eo2025-badge.06cfdbb4.png" | prepend: site.url -%}
<meta name="twitter:card" content="summary">
<meta name="twitter:image" content="{{ image }}" />
<meta property="og:image" content="{{ image }}" />
<meta property="og:image:width" content="400" />
<meta property="og:image:height" content="400" />
{% endif %}
