* <i class="bi-mastodon"></i> Mastodon: [@EverythingOpen@fosstodon.org](https://fosstodon.org/@EverythingOpen), hashtag #EverythingOpen
* <i class="bi-bluesky"></i> Bluesky: [@everythingopen.au](https://bsky.app/profile/everythingopen.au), hashtag #EverythingOpen
* <i class="bi-twitter"></i> X: [@_everythingopen](https://twitter.com/_everythingopen), hashtag #EverythingOpen
* <i class="bi-linkedin"></i> LinkedIn: [Everything Open](https://www.linkedin.com/showcase/everythingopen/)
* <i class="bi-facebook"></i> Facebook: [Everything Open](https://www.facebook.com/EverythingOpenConference/)
* <i class="bi-inboxes-fill"></i> Announce mailing list: [Everything Open Announce](https://lists.linux.org.au/mailman/listinfo/eo-announce)