<div class="table-responsive">
  <table class="table table-striped table-bordered" summary="This table provides a summary of the prices and what is included at each ticket tier">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Contributor</th>
        <th scope="col">Professional</th>
        <th scope="col">Hobbyist</th>
        <th scope="col">Student/Concession</th>
        <th scope="col">Single Day</th>
        <th scope="col">Online Only</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Early Bird Price</th>
        <td><strong>$1099</strong></td>
        <td><strong>$749</strong></td>
        <td><strong>$349</strong></td>
        <td>n/a</td>
        <td>n/a</td>
        <td>n/a</td>
      </tr>
      <tr>
        <th scope="row">Regular Price</th>
        <td>$1199</td>
        <td>$849</td>
        <td>$399</td>
        <td>$149</td>
        <td>$149</td>
        <td>$129</td>
      </tr>
      <tr>
        <th colspan="7" class="text-center">Inclusions</th>
      </tr>
      <tr>
        <th scope="row">Full Conference</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>Yes</td>
        <td>No - single day only</td>
        <td>Yes - all live sessions</td>
      </tr>
      <tr>
        <th scope="row">Penguin Dinner^</th>
        <td>Yes</td>
        <td>Yes</td>
        <td>$120</td>
        <td>$120</td>
        <td>$120</td>
        <td>n/a</td>
      </tr>
      <tr>
        <th scope="row">Acknowledged at Opening</th>
        <td>Yes</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
        <td>No</td>
      </tr>
      <tr>
        <th colspan="7" class="text-center">Addons</th>
      </tr>
      <tr>
        <th scope="row">Penguin Dinner - Additional (each)</th>
        <td>$120</td>
        <td>$120</td>
        <td>$120</td>
        <td>$120</td>
        <td>$120</td>
        <td>n/a</td>
      </tr>
    </tbody>
  </table>
</div>
